.App {
  display: flex;
  flex-direction: column;
  background: rgb(3,255,218);
background: radial-gradient(circle, rgba(3,255,218,1) 0%, rgba(0,254,255,1) 35%, rgba(0,212,255,0.8328518907563025) 100%);
}
.flextry {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
 
}
/*
 //AD COMPONENT!
}*/
.sidePanel {
  width: 200px;
  background-color: whitesmoke;
  height: 800px;
  border: whitesmoke solid 2px;
  border-radius: 20px;
}

/*ARTICLES COMPONENT*/
.articlesComponent {
  text-align: center;
}

.article {
/*  display: flex;
  flex-direction: column;*/
  border: whitesmoke solid 2px;
  border-radius: 20px;
  background-color: lightskyblue;
  width: 450px;
  margin-top: 3px;
  padding: 3px;
  text-align: center;
}
.article > #articleDesc {
  background-color: white;
}
#comment {
  background-color: white;
  border: white solid 1px;
  border-radius: 20px;
}

.article > img {
  margin-left: auto;
  margin-right: auto;
}
.createArticle {
  display: flex;
  align-items: center;
  flex-direction: column;
  border: whitesmoke solid 2px;
  border-radius: 20px;
  height: 350px;
  width:450px;
  margin-left: auto;
  margin-right: auto;
}
.createArticleList {
  display: flex;
  justify-content: center;
}
.NavBar {
  border: lightskyblue solid 2px;
  border-radius: 20px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.NavBar > div {
  margin-left: auto;
  margin-right: auto;
}

.logo {
  height: 250px;
  width: 250px;

}
.navLink {
  font-size: 1.5rem;
  color: lightskyblue;
  text-decoration: none;
  font-weight: bold;
}
.Register {
  margin-left: auto;
  margin-right: auto;
}
.Register > div {
  color: white;
}
.Login {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.Login > div {
  color: white;
}
.NavBar > div > div > div {
  cursor: pointer;
}

/*
News letter component*/

.newsLetterComponent {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background: url(./../public/newsLetterBackground.png);
  padding-bottom: 200px;
}
.newsLetterComponentAd {
   margin-top: 100px;
}

.newsLetterComponentForm {
  margin-top: 200px;
}
.newsLetterComponentForm > h1 {
  margin-top: 300px;
}

.handleEmailSubmit {
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.handleEmailSubmit > button {
  width: 80px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

.clearBox {
  background-color: rgba(255, 255, 255, .4);
  border: lightskyblue solid 3px;
  border-radius: 20px;
}


/*FOOTER COMPONENT*/
#footerComponent {
  height: 100px;
}
#footerComponent > div {
  background-color: lightskyblue;
  border-radius: 0;
}
#footerComponent > div > div > .navLink > .logo {
  height: auto;
  width: 100px;
  background-color: white;
  border: white solid 3px;
  border-radius: 20px;
}

#footerComponent > div > div > .navLink {
  font-size: smaller;
  color: white;
}

#footerComponent > div > div > div {
  display: none;
}

.socialDiv {
  display: flex;
  justify-content: space-around;
  background: radial-gradient(circle, rgba(3,255,218,1) 0%, rgba(0,254,255,1) 35%, rgba(0,212,255,0.8328518907563025) 100%);
}
.socialDiv > a > img {
  height: 100px;
  width: 100px;
}

#footerComponent .derrielcollins {
  background-color: white;
  text-align: center;
}


.border {
  border: black solid 1px;
  border-radius: 20px;
}
#left {
  text-align: left;
  margin-left: 6px;
}

.googleLogin {
  background-color: lightskyblue;
  color: white;
  border: 1px white solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;

}

/*Gallery*/


.galleryComponent {

}
.slidediv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

