.App {
  display: flex;
  flex-direction: column;
  background: rgb(3,255,218);
background: radial-gradient(circle, rgba(3,255,218,1) 0%, rgba(0,254,255,1) 35%, rgba(0,212,255,0.8328518907563025) 100%);
}
.flextry {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*width: 100%*/;
}
/*.flextry > div {
  flex: 33.33%;
}*/
.sidePanel {
  width: 250px;
  background-color: whitesmoke;
  height: 800px;
  border: whitesmoke solid 2px;
  border-radius: 20px;
}

.article {
  display: flex;
  flex-direction: column;
  border: whitesmoke solid 2px;
  border-radius: 20px;
  background-color: lightskyblue;
  width: 450px;
  margin-top: 3px;
  padding: 3px;
  text-align: center;
}
.article > img {
  margin-left: auto;
  margin-right: auto;
}
.createArticle {
  display: flex;
  flex-direction: column;
  border: whitesmoke solid 2px;
  border-radius: 20px;
  height: 350px;
}
.NavBar {
  border: lightskyblue solid 2px;
  border-radius: 20px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.NavBar > div {
  margin-left: auto;
  margin-right: auto;
}

.logo {
  height: 250px;
  width: 250px;

}
.navLink {
  font-size: 1.5rem;
  color: lightskyblue;
  text-decoration: none;
  font-weight: bold;
}
.Register {
  margin-left: auto;
  margin-right: auto;
}
.Register > div {
  color: white;
}
.Login {
  margin-right: auto;
  margin-left: auto;
}
.Login > div {
  color: white;
}
#logout {
  cursor: pointer;
}