.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.article {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  background-color: lightblue;
  margin-top: 3px;
  padding: 3px;
}